<!doctype html>
<h1 style="text-align: center;">KD LIGHTING</h1>
<p><strong>Wersja:</strong> 1.1</p>
<p><strong>Autor:</strong> Hubert</p>
<p><strong>Zasilanie: {{power}}</strong></p>
<p><strong>Efekt: {{effect}}</strong></p>
<table style="border-collapse: collapse; width: 100%; height: 108px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px; text-align: center"><h2>Ściana</h2></td>
<td style="width: 33.3333%; height: 18px; text-align: center"><h2>Kolor</h2></td>
<td style="width: 33.3333%; height: 18px; text-align: center"><h2>Jasność</h2></td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px;">Ściana 1</td>
<td style="width: 33.3333%; height: 18px;">{{ws['1'][0]}}</td>
<td style="width: 33.3333%; height: 18px;">{{ws['1'][1]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px;">Ściana 2</td>
<td style="width: 33.3333%; height: 18px;">{{ws['2'][0]}}</td>
<td style="width: 33.3333%; height: 18px;">{{ws['2'][1]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px;">Ściana 3</td>
<td style="width: 33.3333%; height: 18px;">{{ws['3'][0]}}</td>
<td style="width: 33.3333%; height: 18px;">{{ws['3'][1]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px;">Ściana 4</td>
<td style="width: 33.3333%; height: 18px;">{{ws['4'][0]}}</td>
<td style="width: 33.3333%; height: 18px;">{{ws['4'][1]}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 33.3333%; height: 18px;">Ściana 5</td>
<td style="width: 33.3333%; height: 18px;">{{ws['5'][0]}}</td>
<td style="width: 33.3333%; height: 18px;">{{ws['5'][1]}}</td>
</tr>
</tbody>
</table>
<p><strong>Czas użycia: {{usage_time}}</strong></p>